
<div class="container-fluid">
<div class="row">
  <img src="/assets/logo.jpg" style="width:100%;height:200px;">
</div>
<div class="row">
  <nav class="navbar navbar-default" style="margin-bottom: 0px;">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Home</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Oasis L3 Courses<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">What are “Oasis L3 Courses”</a></li>
              <li><a href="#">Philosophy behind the Course</a></li>
              <li><a href="#">Subjects Covered</a></li>
              <li><a href="#">Highlights of this Course</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Oasis Publications<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">What are “Oasis L3 Courses”</a></li>
              <li><a href="#">Philosophy behind the Course</a></li>
              <li><a href="#">Subjects Covered</a></li>
              <li><a href="#">Highlights of this Course</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">O.A.S.I.S. Trust<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">What are “Oasis L3 Courses”</a></li>
              <li><a href="#">Philosophy behind the Course</a></li>
              <li><a href="#">Subjects Covered</a></li>
              <li><a href="#">Highlights of this Course</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Oasis Valleys<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">What are “Oasis L3 Courses”</a></li>
              <li><a href="#">Philosophy behind the Course</a></li>
              <li><a href="#">Subjects Covered</a></li>
              <li><a href="#">Highlights of this Course</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Oasis-IYLDP<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">What are “Oasis L3 Courses”</a></li>
              <li><a href="#">Philosophy behind the Course</a></li>
              <li><a href="#">Subjects Covered</a></li>
              <li><a href="#">Highlights of this Course</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Oasis-ASHA<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">What are “Oasis L3 Courses”</a></li>
              <li><a href="#">Philosophy behind the Course</a></li>
              <li><a href="#">Subjects Covered</a></li>
              <li><a href="#">Highlights of this Course</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Organic Farming<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">What are “Oasis L3 Courses”</a></li>
              <li><a href="#">Philosophy behind the Course</a></li>
              <li><a href="#">Subjects Covered</a></li>
              <li><a href="#">Highlights of this Course</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Jyotirdhar Abhiyaan<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">What are “Oasis L3 Courses”</a></li>
              <li><a href="#">Philosophy behind the Course</a></li>
              <li><a href="#">Subjects Covered</a></li>
              <li><a href="#">Highlights of this Course</a></li>
            </ul>
          </li>
        </ul>


      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
</div>
<div class="row" style="background: #e4ea9b">
<div class="col-md-3" style="background: #E5E99E !important;height: 100%;">
  <div style="clear: both;height: 20px;"></div>
  <style>
      .shadow{
          background-color: white;
          box-shadow: 1px 1px 1px #888888;
          padding: 10px;
          border-radius: 15px;
      }
  </style>
  <div class="shadow">
    <div class="com-md-12" style="padding:10px;">
      <span><i class="glyphicon glyphicon-share-alt"></i>What are Oasis L3 Courses</span>
    </div>
    <div class="com-md-12" style="padding:10px;">
      <span><i class="glyphicon glyphicon-share-alt"></i>Philosophy behind the Course</span>
    </div>
    <div class="com-md-12" style="padding:10px;">
      <span><i class="glyphicon glyphicon-share-alt"></i>Phases of the Course</span>
    </div>
    <div class="com-md-12" style="padding:10px;">
      <span><i class="glyphicon glyphicon-share-alt"></i>Subjects Covered</span>
    </div>
    <div class="com-md-12" style="padding:10px;">
      <span><i class="glyphicon glyphicon-share-alt"></i>Highlights of the Course</span>
    </div>
    <div class="com-md-12" style="padding:10px;">
      <span><i class="glyphicon glyphicon-share-alt"></i>Values of Workshop Facilitator</span>
    </div>
    <div class="com-md-12" style="padding:10px;">
      <span><i class="glyphicon glyphicon-share-alt"></i>Why You Should Join the Course</span>
    </div>
    <div class="com-md-12" style="padding:10px;">
      <span>Beneficiaries</span>
    </div>
    <div class="com-md-12" style="padding:10px;">
      <span>What is Partnership for Positive Change</span>
    </div>
    <div class="com-md-12" style="padding:10px;">
      <span>iLead program for Mindtree</span>
    </div>
    <div class="com-md-12" style="padding:10px;">
      <span>Who are the Facilitators</span>
    </div>
    <div class="com-md-12" style="padding:10px;">
      <span>Feedbacks for Facilitators</span>
    </div>
    <div class="com-md-12" style="padding:10px;">
      <span>How to Register for this Course</span>
    </div>
  </div>
</div>
<div class="col-md-6">
  <div style="clear: both;height: 20px;"></div>
  <div>
    <%
       @oases.each do |o|
       %>
          <%= o.description.html_safe %>
       <%
       end
    %>
  </div>



</div>
<div class="col-md-3">

</div>
</div>
</div>